name: Publish documentation
on:
  push:
    tags:
    - "v[0-9]+.[0-9]+.[0-9]+"
jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
         dotnet-version: 7.0.x

      - name: Install dependencies
        run: dotnet restore

      - name: Build Color-Chan.Discord
        run: dotnet build --no-restore --configuration Release

      - name: Test Color-Chan.Discord
        run: dotnet test --no-build --configuration Release --logger GitHubActions

      - name: Setup DocFX
        uses: crazy-max/ghaction-chocolatey@v1
        with:
          args: install docfx

      - name: DocFX Build
        working-directory: docs
        run: docfx docfx.json
        continue-on-error: false

      - name: Publish documentation
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GH_PAGES }}
          publish_dir: docs/_site
          force_orphan: true
          cname: discord-library.colorchan.com
