name: .NET Build Color-Chan.Discord
on:
  push:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - run: echo ${{matrix.os}}

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v1.7.2
        with:
         dotnet-version: 6.0.x

      - name: Install dependencies
        run: dotnet restore

      - name: Build Color-Chan.Discord
        run: dotnet build --no-restore --configuration Release

      - name: Test Color-Chan.Discord
        run: dotnet test --no-build --configuration Release --logger GitHubActions
